<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
    <span th:text="Examen"></span>
</p>

<div th:if="${ not#lists.isEmpty(preguntas)}">
    <table>
        <thead>
        <tr>
            <th> id </th>
            <th> descripcion </th>
            <th> orden </th>
            <th> dificultad </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pregunta : ${preguntas}">
            <td><span th:text="${pregunta.id}"> </span></td>
            <td><span th:text="${pregunta.descripcion}"></span></td>
            <td><span th:text="${pregunta.orden}"></span></td>
            <td><span th:text="${pregunta.dificultad}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>